# For local testing
services:
  rule-901:
    image: tazamaorg/rule-901:${TAZAMA_VERSION}
    env_file:
      - env/rule-901.env
      - .env
    environment:
      - CONFIGURATION_DATABASE_USER=postgres
      - CONFIGURATION_DATABASE_PASSWORD=unused
      - EVENT_HISTORY_DATABASE_USER=postgres
      - EVENT_HISTORY_DATABASE_PASSWORD=unused
      - RAW_HISTORY_DATABASE_USER=postgres
      - RAW_HISTORY_DATABASE_PASSWORD=unused
    restart: always
    depends_on:
      - valkey
      - postgres

  rule-902:
    image: tazamaorg/rule-902:${TAZAMA_VERSION}
    env_file:
      - env/rule-902.env
      - .env
    environment:
      - CONFIGURATION_DATABASE_USER=postgres
      - CONFIGURATION_DATABASE_PASSWORD=unused
      - EVENT_HISTORY_DATABASE_USER=postgres
      - EVENT_HISTORY_DATABASE_PASSWORD=unused
      - RAW_HISTORY_DATABASE_USER=postgres
      - RAW_HISTORY_DATABASE_PASSWORD=unused
    restart: always
    depends_on:
      - valkey
      - postgres

  # RULE 006
  rule-006:
    image: tazamaorg/rule-006:${TAZAMA_VERSION}
    env_file:
      - env/rule-executer.env
      - .env
    environment:
      - FUNCTION_NAME=rule-006-rel-${TAZAMA_VERSION}
      - RULE_NAME=006
      - APM_SERVICE_NAME=rule-006
      - CONFIGURATION_DATABASE_USER=postgres
      - CONFIGURATION_DATABASE_PASSWORD=unused
      - EVENT_HISTORY_DATABASE_USER=postgres
      - EVENT_HISTORY_DATABASE_PASSWORD=unused
      - RAW_HISTORY_DATABASE_USER=postgres
      - RAW_HISTORY_DATABASE_PASSWORD=unused
    restart: always
    depends_on:
      - valkey
      - postgres

  # RULE 018
  rule-018:
    image: tazamaorg/rule-018:${TAZAMA_VERSION}
    env_file:
      - env/rule-executer.env
      - .env
    environment:
      - FUNCTION_NAME=rule-018-rel-${TAZAMA_VERSION}
      - RULE_NAME=018
      - APM_SERVICE_NAME=rule-018
      - CONFIGURATION_DATABASE_USER=postgres
      - CONFIGURATION_DATABASE_PASSWORD=unused
      - EVENT_HISTORY_DATABASE_USER=postgres
      - EVENT_HISTORY_DATABASE_PASSWORD=unused
      - RAW_HISTORY_DATABASE_USER=postgres
      - RAW_HISTORY_DATABASE_PASSWORD=unused
    restart: always
    depends_on:
      - valkey
      - postgres
