services:
  pgadmin:
    image: dpage/pgadmin4:9
    env_file:
      - env/pgadmin.env
    ports:
      - ${PGADMIN_PORT:-5050}:80
    configs:
      - source: servers.json
        target: /pgadmin4/servers.json
    restart: always
    depends_on:
      - postgres

configs:
  servers.json:
    file: ./pgadmin-servers.json
